name: Build Client APK

on:
  push:

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Install system dependencies
      run: |
        sudo apt update
        sudo apt install -y python3-pip openjdk-17-jdk zip unzip

    - name: Install python dependencies
      run: |
        pip install --upgrade pip
        pip install buildozer cython kivy

    - name: Build APK
      run: |
        buildozer android debug

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: client-apk
        path: bin/*.apk
